body {
    width: 70%;
    margin: auto;

    }
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5em;
}
h1 {
    font-size: 32px;
    }
table, td, th {
    border: 1px solid black;
}

figure {
    float: right;
    width: 250px;
    height: auto;
    font-style: italic;
    margin: 5px;
}
img{width: 200px;
    height: auto;
    
}
